label {
    float: left;
    width: 120px;
}
p { clear: both;}
input[type="text"], input[type="password"], input[type="email"],
textarea , select{
    background: none repeat scroll 0 0 #fafafa;
    color: #fff;
    text-shadow: 0 0 1px #000000;
}
input, textarea, select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    transition: all 0.25s ease-in-out 0s;
    z-index: 10;
    color: #fff;
}